<!-- <nav class="navbar navbar-light bg-light" id="navbar">
  <div class="col-md-12 bg-light text-right">
    <h5 style="color: black">
      <img src="../../../assets/images/rooster-small.jpeg" width="3%" height="3%" alt="Rooster">
       The ShRooster Shop
    </h5>
    
          <button class="btn btn-light" [routerLink]="['/wishlist']">
            Wish List
            <span class="badge badge-info">{{wishCount}}</span>
        </button>

        <button class="btn btn-light" [routerLink]="['/cart']">
            My Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();">Logout</button>

    </div>
</nav> -->

<nav class="shrooster-nav">
  <div class="nav-wrapper">
    <img class="mx-2" src="../../../assets/images/rooster-small.jpeg" width="3%" alt="Rooster">
    <a href="#" class="brand-logo mx-2 shop-title">The ShRooster Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="mx-1"><button class="btn btn-light" id="button-style" [routerLink]="['/wishlist']">
        Wish List
        <span class="badge badge-info list-counter">{{wishCount}}</span>
      </button></li>
      <li class="mx-1"><button class="btn btn-light" id="button-style" [routerLink]="['/cart']">
        My Cart
        <span class="badge badge-info list-counter">{{cartCount}}</span>
      </button></li>
      <li class="mx-1"><button class="btn btn-outline-danger my-2 my-sm-0" id="button-style" (click)="logout();">Logout</button></li>
    </ul>
  </div>
</nav>


