#carosel-1{
    background-image: linear-gradient(#edc615,#f58822);
}

#carosel-2{
    background-image: linear-gradient(#f58822,#ce2d35);
}

#carosel-3{
    background-image: linear-gradient(#ce2d35,#edc615);
}