 
<div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id="carosel-1">
        <div class="carousel-caption d-none d-md-block">
          <h5>Road Runner Family</h5>
          <p>Join Road Runner And Get Wonderful Benefits</p>
        </div>
      </div>
      <div class="carousel-item" id="carosel-2">
        <div class="carousel-caption d-none d-md-block">
          <h5>Clean Cars Matter</h5>
          <p>We Make Sure All Cars Are Thoroughly Cleaned</p>
        </div>
      </div>
      <div class="carousel-item" id="carosel-3">
        <div class="carousel-caption d-none d-md-block">
          <h5>Easy Rental System</h5>
          <p>Renting So Easy Even A Baby Could Do It!</p>
        </div>
      </div>
    </div>
  </div>
