<div class="row page-height justify-content-center align-content-center">
  <div class="col w-100">
      <img src="../../../assets/images/Shrooster.png" width="30%" alt="ShRooster" class="d-block mx-auto">

    <form class="w-100" id="login-form" [formGroup]="loginForm">
        <div class="form-group w-75 py-2 mx-auto">
          
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email" required="true">
          
        </div>
        <div class="form-group w-75 py-2 mx-auto">

          <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password" required="true">
        </div>
        
    </form>
    <div class="w-75 text-center mx-auto my-1 alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <div class="w-75 d-flex flex-column my-1 mx-auto">
      <button class="btn btn-primary my-1 button-style" id="button-style" (click)="onSubmit()">Login</button> 
  
        <h6 class="mx-auto my-1">Not a Rooster?</h6>
        <button class="btn btn-primary d-inline my-1" id="button-style" [routerLink]="['/register']">Join the Coop</button>
    </div>
  </div>
  <div class="col">
    <app-carosel></app-carosel>
  </div>
</div>
