<div class="container mt-5 px-5">

    <div class="mb-4">

        <h2>Confirm Order</h2>
        
    </div>
    
    <div class="switch">
    </div>
    
    <div class="row">
        <div class="col-md-9">
            <div class="card p-3" *ngIf="!loadUserInfo">

                <app-profile></app-profile>
                <div class="row">

                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                    </div>                   
                </div>

                <div class="mt-4 mb-4">

                </div>
            </div>
            <div *ngIf="loadUserInfo">
            </div>

            <div class="mt-4 mb-4 d-flex justify-content-between">

                <button class="btn btn-danger" id="button-style" [routerLink]="['/cart']">Back to Cart</button>

                <button class="btn btn-success px-3" id="button-style" (click)="onSubmit();">Pay ${{totalPrice}}</button>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card card-blue p-3 text-white mb-3">

            <span>You have to pay</span>
                <div class="d-flex flex-row align-items-end mb-3">
                    <h1 class="mb-0">${{totalPrice}}</h1>
                </div>

                <div class="hightlight">

                    <span>100% Guaranteed Satisfaction!</span>
                    

                </div>
                
            </div>
            
        </div>
        
    </div>
</div>
